* {
    box-sizing: border-box;
}

:root {
    --accent-color-hue: 236;
    --accent-color-saturation: 100%;
    --disabled-color: #cfcfcf;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #c8c8c8;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
